extend layout

block head
  link(rel="stylesheet" href="css/bootstrap.min.css")
  script(type="text/javascript" src="js/jquery-1.11.3.min.js" charset="utf-8")
  script(type="text/javascript" src="css/bootstrap.min.js" charset="utf-8")

block content
  div.container
    button(type="button" class="btn btn-success" id="show-metrics") Push me!
    div#content
    
  p hello
  
  script
    :coffee-script
      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.getJSON '/metrics.json', (data) ->
          c= ""
          for metric in data
            c+= "<p>timestamp = : #{metric.timestamp}<br/> value:#{metric.value}"
          $('#content').html(c)
