extend layout
block head
  meta(charset="utf-8")
  link(rel="stylesheet" href="css/bootstrap.min.css")
  script(type="text/javascript" src="js/jquery-1.11.3.min.js" charset="utf-8")
  script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")

block content
  #form
  p Insert your information to sign up
  hr
  form#login(action='/signup', method="post").form-horizontal
    .form-group
      label.col-sm-2.control-label Username
      input(type='text', name="username")
    .form-group
      label.col-sm-2.control-label Password
      input(type='password', name="password")
    .form-group
      label.col-sm-2.control-label E-mail
      input(type='email', name="email")
    .form-group
      label.col-sm-2.control-label Name
      input(type='text', name="name")
    .form-group
      .col-sm-offset-2.col-sm-12
        button#login_submit.btn.btn-default(type='submit') Signup
